@tailwind base;
@tailwind components;
@tailwind utilities;

#inputForm {
	background-color: #42486a;
	/* border-radius: 2.5px 2.5px 2.5px 0px; */
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	/* border-bottom: 1px solid white; */
	outline: none;
	padding: 6px 10px;
	caret-color: #fab07a;
	color: #fff;
}

#inputForm:focus {
	padding-left: 8px;
}

.authPage a.active {
	color: aliceblue;
	border-bottom: 2px solid white;
	padding-bottom: 2px;
	transition: 0.3s ease;
}

.submitButton {
	background-color: #fab07a;
	box-shadow: 0px 0px 5px 2px #a16c46;
	color: white;
}
